body {
    color: #2d2d2f;
}

h2 {
    margin: 0;
	padding: 0;

    font-size: 28px;
    font-weight: 700;

    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    padding: 35px 50px 50px;

    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

#occurrencesResult,
#quadraticResult {
    margin-top: 35px;
}

.custom-input {
    width: 30px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;

    margin-left: 20px;
}
  
.button:hover {
    background-color: #45a049;
}
  
.button:active {
    background-color: #3e8e41;
}
  
.button:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
}

.error-message {
    color: red;
}
